# Rapid API proxy credentials
X_RAPIDAPI_PROXY_SECRET_NAME=X-RapidAPI-Proxy-Secret
X_RAPIDAPI_PROXY_SECRET_VALUE=1f64e5e0-checkinRapidAPI

# Tests
PATH_TO_TEST_DATA_FOLDER=path/to/DICOM/data

# General config
DEBUG_MODE=1